.avatar {
  width: 100px;
  height: 100px;
}

.name {
  margin: 20px auto;
  font-size: 40;
  background-color: lightblue;
  max-height: 100vh;
  color: rgb(234, 234, 234);
}
.tag {
  margin-left: auto;
  margin-right: auto;
}

.location {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.stats-item {
  display: block;
  list-style: none;
}
.quantity {
  display: block;
}

.stats-item:first-child {
  border-bottom-left-radius: 5px;
  list-style: none;
  background-color: wheat;
}
